// *******************
// Color Variables
// *******************
$black-color: #000000; // used in the footer
$brown-color: #291507; // used in the text header
$light-brown-color: #74675c; // used for link text
$yellow-color: #dec68b; // used as image shadow
$gray-color: #e3e1dc; // used as part of the card

// *******************
// Breakpoints
// *******************
$breakpoint-desktop: 1200px;
$breakpoint-laptop: 992px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 576px;
