.list {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 5px;
  padding-right: 5px;
  list-style: none;
  overflow-y: scroll;

  &__item {
    padding: 10px 10px;
    cursor: pointer;

    &:hover {
      background-color: #f5f5f5;
      border-radius: 15px;
    }
  }
}

.galery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 10px;

  &__item {
    width: 17vw;
    min-width: 145px;

    .image {
      height: 17.5vw;
      object-fit: cover;
    }
  }
}
