@use '../helpers/variables' as *;

.galery {
  display: grid;
  grid-template-columns: repeat(4, minmax(145px, 1fr));
  grid-gap: 4%;

  &__item {
    .image {
      object-fit: cover;
    }
  }
}

@media screen and (max-width: $breakpoint-tablet) {
  .galery {
    grid-template-columns: repeat(auto-fit, minmax(145px, 1fr));
  }
}
