<div class="card">
  <div class="card__header card__header--image">
    <div class="form w-3">
      <div class="form__title">
        {{>partials/logo}}
      </div>
      <div class="form__body">
        <p>Get to know more about your cat breed</p>
        <div class="input-search">
          <input id="search-input" class="input-search__body" type="text" autocomplete="off"
            placeholder="Enter your breed">
          <div class="input-search__image">
            {{>partials/loupe_icon}}
          </div>
          <div id="list-template-content" class="input-search__result hidden"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="card_body"></div>
</div>
