<div>
  <section class="search">
    <div class="search__header search__header--image">
      <div class="form">
        <div class="form__title">
          {{>partials/logo}}
        </div>
        <div class="form__text">
          <p>Get to know more about your cat breed</p>
        </div>
        <div class="search-input">
          <input id="search-input" class="search-input__body" type="text" autocomplete="off"
            placeholder="Enter your breed">
          <div class="search-input__image">
            {{>partials/loupe_icon}}
          </div>
          <div id="list-template-content" class="search-input__result hidden"></div>
        </div>
      </div>
    </div>
    <div class="search__body">
      <div class="favorite">
        <p class="favorite__subtitle">Most Searched Breeds</p>
        <div class="favorite__header">
          <h1 class="favorite__title">66+ Breeds For you to discover</h1>
          <a href="#" class="link">SEE MORE ➙</a>
        </div>
        <div class="galery">
          {{#each searchBreedsSrc}}
            <div class="galery__item">
              <img class="image" src={{src}} alt="cat image">
              <p class="galery__subtitle">{{name}}</p>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </section>
</div>