<div id="home-template-content"></div>

<script id="home-template" type="text/x-handlebars-template">
  <div class="card">
    <div class="card__header card__header--image">
      <div class="form w-3">
        <div class="form__title">
          {{> partials/logo }}
        </div>
        <div class="form__body">
          <p>Get to know more about your cat breed</p>
          <div class="input-search mt-3">
            <input class="input-search__body" type="search" placeholder="Enter your breed">
            <div class="input-search__image">
              {{> partials/loupe_icon }}
            </div>
            <div class="input-search__result"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="card_body"></div>
  </div>
</script>
