<section class="search">
  <div class="search__header search__header--image">
    <div class="form">
      <div class="form__title">
        {{> logo }}
      </div>
      <div class="form__text">
        <p>Get to know more about your cat breed</p>
      </div>
      <div class="search-input">
        <input id="search-input" class="search-input__body" type="text" autocomplete="off"
          placeholder="Enter your breed">
        <div class="search-input__image">
          {{> loupe_icon }}
        </div>
        <div id="list-template-content" class="search-input__result hidden"></div>
      </div>
    </div>
  </div>
  <div class="search__body">
    <div class="favorite">
      <p class="favorite__subtitle">Most Searched Breeds</p>
      <div class="favorite__header">
        <h1 class="favorite__title">66+ Breeds For you to discover</h1>
        <div class="favorite__link">
        <a href="/catwiki-challenge/top.html" class="link">SEE MORE ➙</a>
        </div>
      </div>
      <div class="galery">
        {{#each searchImages}}
          <div class="galery__item">
            <img class="image" src={{src}} alt="cat image">
            <p class="galery__subtitle">{{name}}</p>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</section>
<section class="knowledge">
  <div class="knowledge__container">
    <div class="knowledge__text">
      <h1 class="title title--line">Why should you have a cat?</h1>
      <p class="knowledge__paragraph">Having a cat around you can actually trigger the release of calming chemicals in
        your body which lower your stress and anxiety levels</p>
      <a href="https://www.purina.es/encuentra-mascota/nuevo-gato-en-casa/adoptar-un-gato/beneficios-de-tener-un-gato"
        target="_blank" class="knowledge__link link">READ MORE ➙</a>
    </div>
    <div class="knowledge__pictures">
      {{#each knowledgeImages}}
        <img class="image" src={{this}} alt="cat image">
      {{/each}}
    </div>
  </div>
</section>
