<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Catwiki</title>
    <link rel="icon" href="assets/devchallenges.png" />
  </head>
  <body>
    <div class="container">
      <header class="header">
        <a href="/">{{>logo}}</a>
      </header>
      <main class="main">
        {{>@partial-block}}
      </main>
      <footer class="footer">
        <div class="footer__logo">
          {{>logo}}
        </div>
        <div class="footer__copyright">
          &copy created by Mauricio Rodriguez - <a class="link" href="https://devchallenges.io"
            target="_blank">devchallenge.io</a> 2022
        </div>
      </footer>
    </div>
  </body>
</html>