@use '../helpers/variables' as *;

.card {
  .bg-image {
    background-color: #050709;
    background-image: url('../assets/HeroImagelg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
  }

  &__body {
    background-color: $gray-color;

    .caption {
      position: relative;
      color: $brown-color;
      margin-bottom: 30px;

      &::before {
        content: '';
        position: absolute;
        top: 1.5em;
        width: 2.8em;
        height: 0.15em;
        background-color: currentColor;
      }
    }

    .title {
      margin: 0px;
      width: 275px;
    }

    .link {
      font-size: 0.8rem;
    }

    .d-flex {
      column-gap: 10px;

      .image-container {
        width: 17vw;
        min-width: 145px;

        .image {
          height: 17.5vw;
          object-fit: cover;
        }

        p {
          margin-top: 6px;
          margin-bottom: 0px;
        }
      }
    }
  }
}

.form {
  width: 35%;

  &__title {
    svg {
      display: block;
      width: 80%;
      height: auto;

      path {
        fill: #fff;
      }
    }
  }

  &__body p {
    color: #fff;
  }
}

.input-search {
  &__body:focus {
    outline: none;
  }

  &__result {
    z-index: 100;

    .list {
      height: 160px;
    }
  }
}
