@use '../helpers/variables' as *;

.search {
  &__header {
    padding: 6% 8% 8% 8%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    &--image {
      background-color: #050709;
      background-image: url('../assets/HeroImagemd.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: right;
    }
  }

  &__body {
    padding: 2% 8% 3% 8%;
    border-end-end-radius: 20px;
    border-end-start-radius: 20px;
    background-color: $gray-color;
  }
}

.form {
  width: 35%;

  &__title {
    svg {
      display: block;
      width: 80%;
      height: auto;

      path {
        fill: #fff;
      }
    }
  }

  &__text {
    color: #fff;
  }
}

.search-input {
  position: relative;

  &__body {
    width: 100%;
    padding: 10px 52px 10px 10px;
    border-radius: 20px;
    border-style: none;

    &:focus {
      outline: none;
    }
  }

  &__image {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;

    svg {
      width: 12px;
    }
  }

  &__result {
    position: absolute;
    bottom: -170px;
    height: 160px;
    border-radius: 15px;
    background-color: #fff;
    z-index: 100;
  }
}

.list {
  width: 100%;
  height: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 5px;
  padding-right: 5px;
  list-style: none;
  overflow-y: scroll;

  &__item {
    padding: 10px 10px;
    cursor: pointer;

    &:hover {
      background-color: #f5f5f5;
      border-radius: 15px;
    }
  }
}

.favorite {
  &__header {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__title {
    margin: 0px;
    width: 300px;
  }

  &__subtitle {
    position: relative;
    color: $brown-color;
    margin-bottom: 30px;

    &::before {
      content: '';
      position: absolute;
      bottom: -0.3em;
      width: 2.8em;
      height: 0.15em;
      background-color: currentColor;
    }
  }

  &__link {
    color: $light-brown-color;
  }
}

.knowledge {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 8%;
  padding-right: 8%;

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    gap: 4%;
    align-items: center;
    justify-content: space-between;
  }

  &__paragraph {
    padding-bottom: 20px;
  }

  &__link {
    color: $light-brown-color;
  }

  &__pictures {
    display: grid;
    grid-template-columns: 1fr 3fr 4fr;
    grid-template-rows: repeat(3, auto);
    gap: 4%;

    img {
      &:nth-child(1) {
        grid-column: 2/3;
        grid-row: 2/4;
      }

      &:nth-child(2) {
        grid-column: 1/3;
        grid-row: 1 / 2;
      }

      &:nth-child(3) {
        grid-column: 3/4;
        grid-row: 1/3;
      }
    }
  }

  &__paragraph {
    color: $brown-color;
  }
}

@media screen and (max-width: $breakpoint-mobile) {
  .search__header--image {
    background-image: url('../assets/HeroImagesm.png');
    background-size: cover;
  }

  .form {
    width: 50%;
  }
}
