@use '../helpers/variables' as *;

.search {
  &__header {
    padding: 6% 8% 8% 8%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    &--image {
      background-color: #050709;
      background-image: url('../assets/HeroImagelg.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: right;
    }
  }

  &__body {
    padding: 2% 8% 3% 8%;
    border-end-end-radius: 20px;
    border-end-start-radius: 20px;
    background-color: $gray-color;
  }
}

.form {
  width: 35%;

  &__title {
    svg {
      display: block;
      width: 80%;
      height: auto;

      path {
        fill: #fff;
      }
    }
  }

  &__text {
    color: #fff;
  }
}

.search-input {
  position: relative;

  &__body {
    width: 100%;
    padding: 10px 52px 10px 10px;
    border-radius: 20px;
    border-style: none;

    &:focus {
      outline: none;
    }
  }

  &__image {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;

    svg {
      width: 12px;
    }
  }

  &__result {
    position: absolute;
    bottom: -170px;
    border-radius: 15px;
    background-color: #fff;
    z-index: 100;

    .list {
      height: 160px;
    }
  }
}

.favorite {
  &__header {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__title {
    margin: 0px;
    width: 275px;
  }

  &__subtitle {
    position: relative;
    color: $brown-color;
    margin-bottom: 30px;

    &::before {
      content: '';
      position: absolute;
      top: 1.5em;
      width: 2.8em;
      height: 0.15em;
      background-color: currentColor;
    }
  }

  .link {
    font-size: 0.8rem;
  }
}
