@use '../helpers/variables' as *;

.breed {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 30px;
  width: 100%;

  &__title {
    margin-top: 0px;
  }

  &__image {
    width: 20%;
    min-width: 210px;
    min-height: 210px;

    .image {
      object-fit: cover;
    }
  }

  &__information {
    width: 50%;
  }
}

.bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;

  &__name {
    width: 200px;
  }

  &__progress-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    height: 1em;
  }

  &__item {
    height: 70%;
    width: 3.5em;
    border-radius: 20px;
    background-color: #e0e0e0;

    &--active {
      background-color: #544439;
    }
  }
}

.images {
  margin-bottom: 80px;
}

@media screen and (max-width: $breakpoint-tablet) {
  .breed .bar {
    flex-wrap: wrap;
  }

  .galery {
    grid-template-columns: repeat(auto-fit, minmax(145px, 1fr));
  }
}

@media screen and (max-width: $breakpoint-mobile) {
  .breed__information {
    width: 100%;
  }

  .bar__item {
    width: 3em;
  }
}
