@use '../helpers/variables' as *;

.top-list {
  margin-bottom: 50px;

  &__item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 10px;
    margin-bottom: 30px;
  }

  &__image {
    width: 210px;
    min-width: 210px;

    .image {
      object-fit: cover;
    }
  }

  &__title {
    margin-top: 0px;
  }

  &__paragraph {
    width: 100%;
    min-width: 270px;
  }
}

@media screen and (min-width: $breakpoint-tablet) {
  .top-list {
    &__item {
      flex-wrap: nowrap;
      column-gap: 30px;
    }

    &__paragraph {
      width: calc(100% - 210px - 10%);
    }
  }
}
