@use '../helpers/variables' as *;

.top-list {
  margin-bottom: 50px;

  &__item {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 95%;
    margin-bottom: 30px;
  }

  &__image {
    width: 180px;
    min-width: 180px;

    .image {
      object-fit: cover;
    }
  }

  &__title {
    margin-top: 0px;
  }

  &__paragraph {
    width: 80%;
    min-width: 270px;
  }
}

@media screen and (max-width: $breakpoint-mobile) {
  .top-list {
    &__item {
      flex-wrap: wrap;
    }

    &__paragraph {
      width: 100%;
    }
  }
}
