<!DOCTYPE html>
<html lang="es">
  {{> handlebars/partials/head }}
  <body>
    <div class="container">
      {{> handlebars/partials/header }}
      <main>
        {{> handlebars/home }}
      </main>
    </div>
  </body>
</html>
