@font-face {
  font-family: 'Roboto';
  src: url('../assets/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/Roboto-Bold.ttf');
  font-weight: bold;
}

body {
  font-family: 'Roboto', sans-serif;
}
