@use '../helpers/variables' as *;

.hidden {
  display: none;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;

  &.flex-direction-row {
    flex-direction: row;
  }

  &.align-items-center {
    align-items: center;
  }

  &.align-items-end {
    align-items: flex-end;
  }

  &.justify-content-between {
    justify-content: space-between;
  }
}

.link {
  text-decoration: none;
  color: $light-brown-color;
}

.image {
  width: 100%;
  border-radius: 20px;
}

.custom-scroll {
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-button {
    padding: auto;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #bdbdbd;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track {
    background: #f2f2f2;
  }
}
