@use '../helpers/variables' as *;

.link {
  text-decoration: none;
  color: currentColor;
}

.image {
  width: 100%;
  border-radius: 20px;
}

.title {
  position: relative;
  color: $brown-color;

  &--line::before {
    content: '';
    position: absolute;
    top: -0.3em;
    width: 1.2em;
    height: 0.07em;
    background-color: currentColor;
  }
}

.hidden {
  display: none;
}

.custom-scroll {
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-button {
    padding: auto;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #bdbdbd;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track {
    background: #f2f2f2;
  }
}
